.paginate {
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        li {
            margin: 0;
            display: inline-block;
        }
    }

    &__simple {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__pages {

    }

    &__page {
        &-disabled {
            a {
                color: #bbb;
                border: none;
            }

        }
    }

}