.content {
    position: relative;
    padding: 10px 10px 50px;
    &-openmenu {
        //left:$widthMenu;
    }
}

@include media-breakpoint-up(md) {
    .content {
        margin-left: $widthMenu;
        &-openmenu {
            //left:0;
        }
    }

    .content {
        padding: 20px 20px 100px 20px;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}
