.b {
  &-body {
    border: none;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    max-width: 960px;
  }

  &-head {
    padding: 0 15px 15px;
    max-width: 960px;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }

  }

  &-footer {
    max-width: 960px;
    padding: 15px 15px 0 15px;
  }

  & + & {
    margin-top: 15px;
  }

  &-w960 {
    max-width: 960px;
  }

  &-mtop-20 {
    margin-top: 20px;
  }

  &-mbottom-20 {
    margin-bottom: 20px;
  }

  &-mtop-15 {
    margin-top: 15px;
  }

  &-mbottom-15 {
    margin-bottom: 15px;
  }

  &-mtop-10 {
    margin-top: 10px;
  }

  &-mbottom-10 {
    margin-bottom: 10px;
  }

  &-mbottom-0 {
    margin-bottom: 0 !important;
  }

  &-mtop-0 {
    margin-top: 0 !important;
  }

  &-footer + &-head,
  &-footer + &-body,
  &-body + &-head {
    margin-top: 50px;
  }

  &-fluid {
    max-width: 100%;
  }
}